
.modelo_Container{
    width: 100%;
    height: 30px;
    font-size: 10px;
    font-family: "Times New Roman";
    display: flex;
    justify-content: center;
    align-items: center;
}
.modelo_id{
    width: 10%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}.red{color:red}
.blue{color: blue}
.green{color:green}

.modelo_nombre{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modelo_costo{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modelo_numPartes{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modelo_precio{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modelo_acciones_title{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modelo_acciones{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modelo_icon{
    width: 45%;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  