<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo gasto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="donwloadingDataB" class='loadingSpinner'></div>

<div *ngIf="!donwloadingDataB" >

  <div class="fila_Text">
    <b> Id: </b> {{gasto.id}}
  </div>
  <div class="input-parent">
    <label for="nombreArticulo">  <b> Descripcion:</b></label>
    <input  class="input-parent2" type="text" maxlength="100" [(ngModel)]="descripcion">
  </div>
  <div class="input-parent">
    <label for="precioArticulo"><b> Monto:</b></label>
    <input   class="input-parent2" type="number" min= "0" maxlength="20" [(ngModel)]="inputGasto">
  </div>

  <div class="fila_Text">
    <b> Prestador: </b>
    <select  name="prestadorSocio" class="custom-dropdown">
      <option value="{{socio}}" *ngFor="let socio of socios"  >{{socio}}</option>
    </select>
  </div>
  <div class="ultra_center"><ion-button  class = "button_item" color="dark" (click) ="agregarGastoExtra()" >Agregar Cotizacion</ion-button></div>   

</div>
</ion-content>
