.text_line{
    width: 90%;
    margin: auto;
    font-family: "Times New Roman";
    font-size: 15px;
    color: black;
}
.edit_icon{
    width:25px;
    height: 25px;
}
.button_item{
    margin-left: 20px;
    text-transform: none;
}