.text_line{
    width: 90%;
    margin: auto;
    font-family: "Times New Roman";
    font-size: 15px;
    color: black;
}
.title_line{
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "Times New Roman";
    font-size: 15px;
    color: black;
}